/* Font & base setup */
html,
body {
	font-family: "Inter", sans-serif;
	font-size: 16px;
	color: var(--color-text);
	background-color: var(--color-bg);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1.5;
}